python-dotenv==1.0.1
requests==2.31.0
EyeSim-Python==1.2.4
numpy==1.26.4
langchain-community==0.0.32
langchain-core==0.1.41
langchain==0.1.15
langchain-experimental==0.0.57
llama-cpp-python==0.2.55
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
ipykernel==5.5.3
ipython==7.23.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
langchain[docarray]
pandas==2.2.1
openai